<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>jaune</key>
		<array>
			<string>jaune1.png</string>
			<string>jaune1b.png</string>
			<string>jaune2.png</string>
			<string>jaune2b.png</string>
			<string>jaune2c.png</string>
			<string>jaune3.png</string>
			<string>jaune3b.png</string>
		</array>
		<key>rouge</key>
		<array>
			<string>rouge1.png</string>
			<string>rouge2.png</string>
			<string>rouge3.png</string>
			<string>rouge4.png</string>
			<string>rouge5.png</string>
		</array>
	</dict>
</dict>
</plist>
